@page
@using ObligatorioProg2.Dominio;
@model ObligatorioProg2.Pages.DetalleModel
@{
}
<h1>Ver Más Información</h1>
<div class="card text-white bg-info mb-3" style="width: 48rem;">
    <div class="card-header">Fecha de Alta: @Model.PublicidadAVerDetalle.FechaAlta</div>
    <div class="card-body">
        <h5 class="card-title">@Model.PublicidadAVerDetalle.Titulo</h5>
        <p class="card-text">@Model.PublicidadAVerDetalle.Detalle</p>
        <a class="btn btn-light btn-info" asp-page="/index">Volver al Alta</a>
    </div>
</div>



